In [1]:
import pandas as pd

# Leer .csv de un url con pandas

#### Website: https://www.football-data.co.uk/englandm.php

In [8]:
# leer 1 archivo csv de un website 
df_premier23 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2324/E0.csv')
df_premier23

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,E0,29/10/2023,13:00,West Ham,Everton,0,1,A,0,0,...,2.14,-0.50,2.09,1.84,2.09,1.85,2.10,1.86,2.06,1.82
96,E0,29/10/2023,14:00,Aston Villa,Luton,3,1,H,1,0,...,2.74,-1.50,1.97,1.96,1.97,1.94,1.98,2.06,1.92,1.95
97,E0,29/10/2023,14:00,Brighton,Fulham,1,1,D,1,0,...,2.29,-1.00,2.05,1.88,2.08,1.85,2.12,1.98,2.02,1.85
98,E0,29/10/2023,14:00,Liverpool,Nott'm Forest,3,0,H,2,0,...,2.79,-1.75,1.93,2.00,1.84,2.08,1.93,2.16,1.83,2.03
99,E0,29/10/2023,15:30,Man United,Man City,0,3,A,0,1,...,2.23,1.00,1.91,2.02,1.88,2.05,1.97,2.12,1.86,2.02

In [10]:
# mostrar dataframe
df_premier23

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,E0,29/10/2023,13:00,West Ham,Everton,0,1,A,0,0,...,2.14,-0.50,2.09,1.84,2.09,1.85,2.10,1.86,2.06,1.82
96,E0,29/10/2023,14:00,Aston Villa,Luton,3,1,H,1,0,...,2.74,-1.50,1.97,1.96,1.97,1.94,1.98,2.06,1.92,1.95
97,E0,29/10/2023,14:00,Brighton,Fulham,1,1,D,1,0,...,2.29,-1.00,2.05,1.88,2.08,1.85,2.12,1.98,2.02,1.85
98,E0,29/10/2023,14:00,Liverpool,Nott'm Forest,3,0,H,2,0,...,2.79,-1.75,1.93,2.00,1.84,2.08,1.93,2.16,1.83,2.03
99,E0,29/10/2023,15:30,Man United,Man City,0,3,A,0,1,...,2.23,1.00,1.91,2.02,1.88,2.05,1.97,2.12,1.86,2.02

In [4]:
# cambiar nombre de columnas
df_premier23.rename(columns={'Date':'date',
                            'HomeTeam':'home_team',
                            'AwayTeam':'away_team',
                            'FTHG':'home_goals',
                            'FTAG':'away_goals'},inplace=True)

In [11]:
# mostrar dataframe
df_premier23

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,E0,29/10/2023,13:00,West Ham,Everton,0,1,A,0,0,...,2.14,-0.50,2.09,1.84,2.09,1.85,2.10,1.86,2.06,1.82
96,E0,29/10/2023,14:00,Aston Villa,Luton,3,1,H,1,0,...,2.74,-1.50,1.97,1.96,1.97,1.94,1.98,2.06,1.92,1.95
97,E0,29/10/2023,14:00,Brighton,Fulham,1,1,D,1,0,...,2.29,-1.00,2.05,1.88,2.08,1.85,2.12,1.98,2.02,1.85
98,E0,29/10/2023,14:00,Liverpool,Nott'm Forest,3,0,H,2,0,...,2.79,-1.75,1.93,2.00,1.84,2.08,1.93,2.16,1.83,2.03
99,E0,29/10/2023,15:30,Man United,Man City,0,3,A,0,1,...,2.23,1.00,1.91,2.02,1.88,2.05,1.97,2.12,1.86,2.02

# Leer .csv de multiples Urls con Pandas

- https://www.football-data.co.uk/mmz4281/2324/E0.csv
- https://www.football-data.co.uk/mmz4281/2324/E1.csv

#### Link: root + season + league

In [12]:
# estructura de un link
"https://www.football-data.co.uk/mmz4281/" +"2324" +"/"+"E1"+".csv"

In [14]:
# crear una variable root
root = "https://www.football-data.co.uk/mmz4281/"

In [17]:
# crear una lista de ligas
leagues = ['E0','E1','E2','E3','EC']
frames = []
# hacer loop en la lista leagues, leer multiples csv y adjuntarlo en a una lista
for league in leagues:
    df = pd.read_csv( root + '2324' + '/' + league +'.csv')
    frames.append(df)

In [18]:
# tamaño de los frames
len(frames)

5

In [22]:
# mostrar 1er,2do,3er elemento
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,EC,05/08/2023,15:00,Aldershot,Oxford City,5,2,H,3,1,...,2.13,-0.75,2.00,1.80,2.06,1.79,2.08,1.85,1.99,1.77
1,EC,05/08/2023,15:00,Altrincham,Dag and Red,1,1,D,0,0,...,1.94,-0.25,1.68,2.15,1.75,2.12,1.96,2.19,1.73,2.05
2,EC,05/08/2023,15:00,Barnet,Hartlepool,3,2,H,1,0,...,2.05,-0.25,1.80,2.00,1.87,1.99,1.87,2.04,1.81,1.94
3,EC,05/08/2023,15:00,Chesterfield,Dorking,4,3,H,1,1,...,2.65,-2.00,1.88,1.93,1.98,1.86,1.98,1.93,1.90,1.84
4,EC,05/08/2023,15:00,Gateshead,Boreham Wood,2,2,D,2,0,...,1.78,-0.50,1.88,1.93,1.93,1.93,1.93,1.99,1.86,1.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,EC,28/10/2023,15:00,Oldham,Altrincham,2,2,D,1,2,...,2.09,0.00,1.90,1.90,1.91,1.94,1.91,1.94,1.86,1.88
210,EC,28/10/2023,15:00,Oxford City,Barnet,0,2,A,0,2,...,2.61,1.25,1.90,1.90,1.93,1.93,1.93,1.95,1.85,1.88
211,EC,28/10/2023,15:00,Solihull,Wealdstone,1,0,H,0,0,...,1.98,-0.25,1.90,1.90,1.95,1.90,1.95,1.90,1.86,1.87
212,EC,28/10/2023,15:00,Woking,Bromley,0,1,A,0,0,...,1.66,-0.25,1.80,2.00,1.84,2.02,1.84,2.02,1.79,1.95
213,EC,28/10/2023,17:30,York,Halifax,1,1,D,0,0,...,1.88,0.25,1.80,2.00,1.87,1.98,1.87,2.04,1.80,1.95

# Multiples temporadas

In [25]:

# crear una lista de ligas
leagues = ['E0','E2','E3']
frames = []
# hacer loop a un rango de temporadas e insertar una nueva columna

for league in leagues:
    for season in range(20,23):
        df = pd.read_csv( root + str(season) + str(season+1) + '/' + league +'.csv')
        df.insert(1,'season',season)
        frames.append(df)

In [26]:
# total de frames (6 temporadas x 3 ligas)
len(frames)

9

In [29]:
# mostrar 1er y ultimo elemento (columna season fue creada)
frames[0]
frames[8]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,22,30/07/2022,15:00,AFC Wimbledon,Gillingham,2,0,H,1,...,1.48,-0.25,2.05,1.80,2.09,1.81,2.13,1.81,2.06,1.76
1,E3,22,30/07/2022,15:00,Bradford,Doncaster,0,0,D,0,...,1.94,-0.75,1.90,1.95,1.90,1.99,1.96,1.99,1.90,1.91
2,E3,22,30/07/2022,15:00,Carlisle,Crawley Town,1,0,H,1,...,1.77,0.00,1.80,2.05,1.88,2.02,1.88,2.11,1.79,2.03
3,E3,22,30/07/2022,15:00,Harrogate,Swindon,3,0,H,1,...,2.11,0.25,1.77,2.10,1.77,2.14,1.84,2.14,1.76,2.06
4,E3,22,30/07/2022,15:00,Leyton Orient,Grimsby,2,0,H,0,...,1.66,-0.25,1.80,2.05,1.79,2.10,1.86,2.10,1.80,2.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,22,08/05/2023,12:30,Stockport,Hartlepool,1,1,D,1,...,2.47,-2.00,1.82,2.02,1.83,2.01,1.95,2.06,1.82,1.96
548,E3,22,08/05/2023,12:30,Sutton,Carlisle,1,1,D,1,...,1.72,0.25,1.77,2.10,1.79,2.08,1.86,2.17,1.76,2.04
549,E3,22,08/05/2023,12:30,Swindon,Crawley Town,2,1,H,2,...,2.48,-0.75,2.00,1.80,1.94,1.91,2.01,1.94,1.94,1.84
550,E3,22,08/05/2023,12:30,Tranmere,Northampton,0,1,A,0,...,1.95,0.75,1.85,2.00,1.87,1.98,1.87,2.11,1.82,1.97
551,E3,22,08/05/2023,12:30,Walsall,Doncaster,2,1,H,0,...,1.98,-0.75,1.88,1.93,1.91,1.94,1.96,1.94,1.90,1.88

# Organizar data en un diccionario

In [33]:
# crear un diccionario con nombre original de la liga como llave
dict_countries = {
              'Spanish La Liga':'SP1', 'Spanish Segunda Division':'SP2',
              'German Bundesliga':'D1', 
              'English Premier League':'E0', 'English League 1':'E2', 'English League 2':'E3',
             }

In [34]:
# obtener un elemento del diccionario
dict_countries['Spanish La Liga']

'SP1'

In [35]:
dict_historical_data = {}
# hacer loop sobre llaves de diccionario
# crear una lista de ligas

# hacer un loop sobre las llaves del diccionario
for league in dict_countries:
    frames = []
# hacer loop por temporadas
    for season in range(20,23):
# se lee el csv q corresponde a la league y optenemos el valor y extrallendo el csv de cada temporada
        df = pd.read_csv( root + str(season) + str(season+1) + '/' 
                         + dict_countries[league] +'.csv')
        df.insert(1,'season',season)
# luego todo eso se almacena el frames
        frames.append(df)   
# Concatenamos las temporadas por liga
    dict_concat = pd.concat(frames)
# Obtenemos el nombre de la liga como llave y despues como valorel dataframe
    dict_historical_data[league] = dict_concat

In [37]:
# mostrar dataframe dentro de dict_historical_data
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German Bundesliga', 'English Premier League', 'English League 1', 'English League 2'])

In [39]:
dict_historical_data['Spanish Segunda Division']

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP2,20,12/09/2020,15:00,Ponferradina,Castellon,1,2,A,1,...,1.46,-0.25,2.13,1.75,2.16,1.78,2.17,1.82,2.09,1.77
1,SP2,20,12/09/2020,17:15,Leganes,Las Palmas,1,0,H,0,...,1.43,-0.50,1.88,1.98,1.90,2.00,1.92,2.02,1.87,1.97
2,SP2,20,12/09/2020,17:15,Sp Gijon,Logrones,1,0,H,0,...,1.49,-0.25,1.75,2.05,1.81,2.12,1.81,2.14,1.76,2.09
3,SP2,20,12/09/2020,20:00,Espanol,Albacete,3,0,H,2,...,1.54,-0.75,1.90,1.95,1.90,2.01,1.97,2.01,1.89,1.95
4,SP2,20,13/09/2020,11:00,Oviedo,Cartagena,0,0,D,0,...,1.46,-0.25,1.93,1.93,1.96,1.94,1.97,1.98,1.92,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,SP2,22,27/05/2023,20:00,Huesca,Eibar,0,1,A,0,...,1.56,0.25,2.08,1.73,2.10,1.81,2.18,1.89,2.04,1.79
458,SP2,22,27/05/2023,20:00,Las Palmas,Alaves,0,0,D,0,...,1.64,-0.25,1.80,2.05,1.82,2.08,1.88,2.12,1.81,2.02
459,SP2,22,27/05/2023,20:00,Levante,Oviedo,2,1,H,0,...,1.89,-1.25,1.93,1.93,1.94,1.94,1.98,2.00,1.89,1.93
460,SP2,22,28/05/2023,15:15,Santander,Cartagena,3,1,H,3,...,2.08,-0.25,1.93,1.93,1.95,1.93,2.00,1.96,1.94,1.88
461,SP2,22,28/05/2023,15:15,Sp Gijon,Ponferradina,1,4,A,0,...,1.85,-0.50,1.85,2.00,1.88,2.01,1.92,2.12,1.84,1.97