# Metodo loc() y iloc()

#### Son para seleccionar data.

#### loc()  esta basado en nombres (etiquetas), por lo que tenemos que especificar filas y columnas usando el nombre del index/fila y columna.

#### iloc() esta basado en la posicion numerica entera, por lo que tenemos que especifficar  filas y columnas usando el valor de su posicion entera (posicion empieza por el numero 0)

#### ejemplo 
#### df.loc[['zeo','two']]
#### df.iloc[[0,2]]
#### df.loc[['zeo' : 'two']]
#### df.iloc[[0 : 2]]

In [1]:
import pandas as pd

In [8]:
# leer archivo csv
df = pd.read_csv('players_20.csv')

In [9]:
# mostrar dataframe
df

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [11]:
# fijar columna como index 
df.set_index('short_name',inplace=True)

In [12]:
# mostrar dataframe
df

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [13]:
# seleccionar columnas
df[['long_name','age','dob','height_cm',
    'weight_kg','nationality','club']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

# Seleccionar elementos por nombre del index con loc()

In [19]:
# obtener toda la data sobre L.Messi
df.loc['L. Messi']

sofifa_id                                                158023
player_url    https://sofifa.com/player/158023/lionel-messi/...
long_name                        Lionel Andrés Messi Cuccittini
age                                                          32
dob                                                  1987-06-24
                                    ...
lb                                                         63+2
lcb                                                        52+2
cb                                                         52+2
rcb                                                        52+2
rb                                                         63+2
Name: L. Messi, Length: 103, dtype: object

In [20]:
# obtener el tamaño de L.Messi
df.loc['L. Messi','height_cm']

170

In [21]:
# obtener el peso de Cristiano Ronaldo
df.loc['Cristiano Ronaldo','weight_kg']

83

In [22]:
# obtener todas las filas dentro de columna 'height_cm'
df.loc[:,'weight_kg']

short_name
L. Messi             72
Cristiano Ronaldo    83
Neymar Jr            68
J. Oblak             87
E. Hazard            74
                     ..
Shao Shuai           79
Xiao Mingjie         66
Zhang Wei            75
Wang Haijian         74
Pan Ximing           78
Name: weight_kg, Length: 18278, dtype: int64

In [23]:
# obtener todas las columnas que corresponde al index 'L.Messi'
df.loc['L. Messi',:]

sofifa_id                                                158023
player_url    https://sofifa.com/player/158023/lionel-messi/...
long_name                        Lionel Andrés Messi Cuccittini
age                                                          32
dob                                                  1987-06-24
                                    ...
lb                                                         63+2
lcb                                                        52+2
cb                                                         52+2
rcb                                                        52+2
rb                                                         63+2
Name: L. Messi, Length: 103, dtype: object

# Seleccionar con una lista de valores

In [27]:
# obtener data sobre L.Messi y Cristiano Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo']]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3

In [28]:
# obtener el tamaño de L.Messi y Cristiano Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [30]:
# obtener el tamaño y peso de L.Messi
df.loc['L. Messi',['height_cm','weight_kg']]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [31]:
# obtener el tamaño y peso de L.Messi y Cristiano Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],['height_cm','weight_kg']]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

# Seleccionar un rango de data con un slice (rebanada)

#### start:stop:step (Nota: Contrariamente a las rebanadas tipicas en Python, 'start' y 'stop' en este caso son incluidos)

In [34]:
# hacer slice a nombre de columnas
players = ['L. Messi', 'Cristiano Ronaldo']
df.loc[players, 'age':'club']

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [36]:
# hacer slice a los nombre de los index
columns = ['age','dob','height_cm','weight_kg']

# obtener los nombres de jugadores top1 y top10
df.index[:10]
df.loc['L. Messi':'M. Salah',columns]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
J. Oblak            26  1993-01-07        188         87
E. Hazard           28  1991-01-07        175         74
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
L. Modrić           33  1985-09-09        172         66
M. Salah            27  1992-06-15        175         71

# Seleccionar con condiciones

In [40]:
# una condicion: seleccionar jugadores con tamaño arriba de 180cm
columns = ['age','dob','height_cm','weight_kg']
df.loc[df['height_cm']>180,columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
...                ...         ...        ...        ...
P. Martin           20  1999-01-05        188         84
Shao Shuai          22  1997-03-10        186         79
Zhang Wei           19  2000-05-16        186         75
Wang Haijian        18  2000-08-02        185         74
Pan Ximing          26  1993-01-11        182         78

[9744 rows x 4 columns]

In [41]:
# multiples condiciones: 
# seleccionar jugadores con tamaño arriba de 180cm
condiciones = (df['height_cm']>180)&(df['nationality']=='Argentina')
df.loc[condiciones, : ]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
M. Icardi,201399,https://sofifa.com/player/201399/mauro-icardi/...,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter,85,...,53+3,52+3,52+3,52+3,53+3,51+3,50+3,50+3,50+3,51+3
G. Higuaín,167664,https://sofifa.com/player/167664/gonzalo-higua...,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina,Juventus,85,...,53+3,52+3,52+3,52+3,53+3,49+3,47+3,47+3,47+3,49+3
E. Garay,170481,https://sofifa.com/player/170481/ezequiel-gara...,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF,83,...,71+3,76+3,76+3,76+3,71+3,72+3,80+3,80+3,80+3,72+3
N. Otamendi,192366,https://sofifa.com/player/192366/nicolas-otame...,Nicolás Hernán Otamendi,31,1988-02-12,183,81,Argentina,Manchester City,83,...,71+3,77+3,77+3,77+3,71+3,73+3,81+3,81+3,81+3,73+3
G. Rulli,215316,https://sofifa.com/player/215316/geronimo-rull...,Gerónimo Rulli,27,1992-05-20,189,84,Argentina,Montpellier HSC,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T. Durso,240955,https://sofifa.com/player/240955/tomas-durso/2...,Tomás Durso,20,1999-02-26,185,80,Argentina,Gimnasia y Esgrima La Plata,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J. Hass,247295,https://sofifa.com/player/247295/joaquin-hass/...,Joaquín Hass,21,1998-03-27,186,88,Argentina,Club Atlético Colón,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R. Ferrario,245057,https://sofifa.com/player/245057/rafael-ferrar...,Rafael Ferrario,19,2000-04-30,186,76,Argentina,Club Atlético Huracán,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L. Finochietto,241099,https://sofifa.com/player/241099/leandro-finoc...,Leandro Finochietto,22,1997-04-25,186,77,Argentina,Argentinos Juniors,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
N. Forastiero,246841,https://sofifa.com/player/246841/nicolas-foras...,Nicolás Forastiero,20,1998-07-16,182,79,Argentina,Argentinos Juniors,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN