# Introduccion a tablas pivote en pandas

## pivot() : reconstruye una data basada en valores de una columna (no soporta operaciones)
## pivot_table() : crea una tabla pivote al estilo de excel (soporta operaciones)

In [2]:
import pandas as pd

## pivot()

In [8]:
# read and show the dataset
df_gdp = pd.read_csv('gdp.csv',encoding='latin-1')
df_gdp.head()

   unid wbid      country  year        SES      gdppc  yrseduc  popshare
0     4  AFG  Afghanistan  1970   3.474212  709.00000      NaN  0.003097
1     4  AFG  Afghanistan  1920  26.968016  731.75677      NaN  0.003245
2     4  AFG  Afghanistan  1990   1.269530  604.00000      NaN  0.002347
3     4  AFG  Afghanistan  1960  15.763076  739.00000      NaN  0.003039
4     4  AFG  Afghanistan  2000   2.061114  565.00000      NaN  0.003309